* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

@font-face {
    font-family: 'Muller Thin';
    src: url('fonts/Muller-Thin.ttf')  format('truetype');
  }

body {
    width: 320px;
}
  /*wrapper*/
.wrapper-main {
    /* width: 320px; */
    height: 608px;
    /* background-color: #112537; */

    background-image: url('./img/coty-17-lifestyle-2.png');
    background-position: 60% 0;
    text-align: center;
    position: relative;
    z-index: -4;
}

.wrapper-main::after {
    content: "";
    opacity: 0.8;
    background-color: #112537;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -3;
  }

  .header {
      display: flex;
      justify-content: space-between;
  }

  .header__logo{
      margin-left: 15px;
      margin-top: 27px;
  }

  .header__menu {
    margin-top: 26px;
    margin-right: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 286px;
    margin: 122px 16px 0 18px;
}

.content__title {
    width: 100%;

    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 48.19px;
    /* Text style for "Дизайн  ," */
    letter-spacing: 0.26px;
    text-align:center;
  }

.content__slogan {
    /* Style for "Воплотим в" */
    width: 262px;
    color: #ffffff;
    font-family: "Muller Thin", sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 26px;
}

.content__order-button {
    display: block;
    margin-top: 28px;
    width: 223px;
    height: 54px;
    box-shadow: 5px 8px 21px 8px rgba(0, 1, 6, 0.06);
    color: #fff;
    background-color: #f8a25a;
    padding-top: 18px;
    text-decoration: none;
}

.content__down-button {
    display: block;
    opacity: 0.6;
    margin-top: 29px;
}

/*main-contetn css start*/

.main-content {
    /* height: 8754px; */
    padding: 74px 15px 116px;
}

.main-content > div {
    margin-bottom: 95px;
}
/* advantages css */

.advantage-block {
    margin-bottom: 40px;
}
.advantages .number {
    /* display: inline-block; */
/* Style for "03" */
/* vertical-align: top; */
width: 83px;
height: 58px;
opacity: 0.26;
color: #fea052;
font-family: "Playfair Display";
font-size: 85px;
font-weight: bold;
line-height: 43px;
/* Text style for "0, 3" */
letter-spacing: 0.28px;
margin-bottom: 25px;

}
.advantages h2 {
    /* display: block; */
    /* Style for "Мы - профе" */
width: 246px;
height: 49px;
color: #1a292f;
font-family: "Raleway - Semi Bold";
font-size: 24px;
font-weight: normal;
margin-bottom: 23px;
}

.advantages .text-block {
    /* Style for "Ценовая по" */
width: 280px;
height: 138px;
color: #838383;
font-family: Raleway;
font-size: 18px;
font-weight: 300;
line-height: 25px;
/* Text style for "Ценовая по" */
letter-spacing: 0.64px;
}

/* portfolio css */

.portfolio h2 {
    /* Style for "Портфолио" */
width: 259px;
height: 41px;
color: #00203a;
font-family: "Playfair Display";
font-size: 45px;
font-weight: 700;
line-height: 28px;
/* Text style for "П, ортфоли" */
letter-spacing: 0.32px;
padding-left:13px;
margin-bottom: 42px;
}

.portfolio-menu {
    list-style: none;
}

.portfolio li {


color: #bababa;
font-family: Raleway;
font-size: 22px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    /* .wrapper{
        height: 200px;
        opacity: 0.2;
    } */
}

@media screen and (min-width: 769px) {

}


